/* Hero Section */
.hero {
    font-family: "Proxima Nova", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-align: center;
    margin: 10px;
    padding: 5rem;
}

.hero h1 {
    color: #d1a055;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    letter-spacing: .02em;
    line-height: 1.25em;
    text-transform: none;
    margin-bottom: 40px;
}

.hero p {
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .02em;
    line-height: 1.8em;
    text-transform: none;
    color: #000;
    margin: 10px;
}

/* Crops Section */
.crops {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 40px;
}

.cropsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 900px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.column p {
    text-align: center;
    font-size: 20px;
    line-height: 1.2em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-style: normal;
}

.large img {
    height: 100%;
    object-fit: cover;
}

.column img {
    width: 100%;
    border-radius: 10px;
}

/* Centered Line */
.centeredLine {
    width: 70%;
    margin: 50px auto;
    border: 1px solid #ccc;
}

/* Farming Section */
.farming {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 90px;
}

.title h1 {
    color: #d1a055;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    letter-spacing: .02em;
    line-height: 1.25em;
    text-transform: none;
    margin-bottom: 80px;
    text-align: center;
}

.farmingContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 900px;
    width: 100%;
}

.farm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.farm p {
    text-align: center;
    font-size: 20px;
    line-height: 1.2em;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.farm img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.farm:nth-child(1) img {
    flex: 1;
}
